.header {
    position: fixed;
    width: 100%;
    background-color: #005e87;
}

body {
    background-color: #ccd3d8;
}

.logo {
    position: relative;
    margin-left: 50px;
}

.nav {
    position: relative;
    background-color: #ffff;
    top: 61px;
}

.nav-item {
    position: relative;
    left: 30px;
}

.nav-link {
    color: black;
}

.nav-item:hover,nav-link:hover {
    background-color: #dbaa00;
    color: black;

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown {
    position: relative;
    left: 20px;
  }

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Sub Meu */
.subnav{
    list-style: none;
    position: relative;
}
.subnav > a{   
    position: relative;
   
}
.subnav > a:hover{
    color: #dbaa00;
}

.subnav-content {
    display: none;
    position: absolute;
    left: 40px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.subnav-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.subnav:hover .subnav-content {
    display: block;   
    margin-left: 120px;
    top: 20px;
   
}

/*Inner Menu */
.Innermenu-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    cursor: pointer;
    left: 160px;
    top: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.Innermenu{
    position: relative;    
    height: 100%;  
    width: 100%; 
}
.Innermenu a:hover{
    color: #dbaa00;
}
.Innermenu:hover .Innermenu-content{
    display: block;   
    top: 20px;
   
}

/* card */

.row{
    width: 100%;
}
#card1{
   margin-left: 10px;
   color: #999999;
   background-color: #007c8b;
}
#card2{
    margin-left: 10px;
    color: #ffffff;
    background-color: #007c8b;
}
#card3{
    margin-left: 10px;
    color: #7d8e96;
    background-color: #005e87;
}
.card:hover{
    background-color: cyan;
}
.card-body {
    padding-left: 40px;
    padding-top: 0px;
}
.card{    
    height: 202px;
    width: 428px;
    top: 400px;
}
.card-title{
    padding-left: 40px;
    padding-top: 40px;
}
